body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #0c2f38, #0f172a, #220a3d, #0f172a,  #0c2f38);
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  ::selection{
        color: #000;
        background: #fff;
      }



      
      ::-webkit-scrollbar{
        width: 6px;
      }
      
      ::-webkit-scrollbar-track{
        background-color: #0e0c17;
      }
      
      ::-webkit-scrollbar-thumb{
        background-color: #737272;
        border-radius: 20px;
      }


      
/* Navbar styles */
.navbar {
        position: fixed;
	background: linear-gradient(to top, rgba(0, 57, 0, 0.849), rgba(171, 171, 171, 0.804), rgba(192, 28, 2, 0.836));
        /*background-color: #9292926a;*/
        border: 1px solid #8787879c;
        color: #fff;
        display: block;
        height: 86%;
        justify-content: space-between;
        align-items: center;
        padding: 8px 6px;
        margin-left: 24px;
        z-index: 1000; /* Ensure it stays above other elements */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 18px;
        backdrop-filter: blur(10px);
        border: 1px solid rgba(122, 117, 117, 0.632);
      }
      
      .nav-links {
        list-style: none;
        display: block;
        margin: 0;
        padding: 0;
      }
      
      .nav-links li {
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.01s;
  text-align: left;
      }

      .nav-links li:hover{
        background-color: #9292923f;
        border-radius: 15px;
      }
      
      .nav-links a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s;
      }
      
      
      /* Section styles */
      section {
        padding: 100px 20px;
        border-bottom: 1px solid #ddd;
      }
      
      section h1 {
        font-size: 36px;
        margin-bottom: 20px;
      }
      
      section p {
        font-size: 18px;
        color: #555;
      }
      
      /* Responsive design */
      @media (max-width: 768px) {
        .nav-links {
          flex-direction: column;
          align-items: flex-start;
        }
      
        .nav-links li {
          margin: 10px 0;
        }
      }

      .fox{
        background-color: #9292923f;
        color: white;
        border: 1px solid transparent;
        margin-right: 6px;
        margin-left: 4px;
        border-radius: 12px;
        margin-bottom: 30px;
        margin-top: 8px;
      }

      .fox:hover{
        border-color: cyan;
      }

      #searchBox {
	width: 210px;
        padding: 20px;
        margin-left: 0px;
        font-size: 18px;
        outline: none;
        border: none;
        transition: border-color 0.3s ease;
        color: white;
        background-color: transparent;
    }

      /* Highlighting */
      .highlight {
        background-color: red;
    }

    #searchBox::placeholder{
      color: rgb(145, 138, 138);
    }

    .btn {
      padding: 10px 15px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .btn:hover {
      opacity: 0.9;
  }

  .btn-primary {
      color: rgb(145, 138, 138);
      background-color: transparent;
      font-size: 24px;
      padding: 9px 12px;
      border-radius: 50px;
      margin-right: 8px;
  }

  .btn-primary:hover{
    background-color: #55555541;
    color: white;
  }

  .parent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 40px;
  }

  .container {
    width: 100%;
  }

  .right{
    width: 100%;
  }
  
  .text-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px;
    padding: 10px;
    background-color: transparent;
    color: white;
    position: relative; 
    border-top: 1px solid #8787879c;
  }

  .tag{
    border-radius: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    color: white;
    background-color: #9292926a;
    border: 1px solid #8787879c;
    margin-bottom: 32px;
    margin-left: 60px;
  }

  .tag h2{
    margin-left: 19px;
  }

  .tag .root{
    color: cyan;
  }
  
  .text {
    flex: 1;
    margin-right: 10px;
  }
  
  .copy-btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(180, 174, 174, 0.183);
    color: white;
    cursor: pointer;
    font-size: 14px;
    position: absolute; /* Positioned relative to the parent (text-block) */
    top: -50px;      /* Adjust the distance to place the button below */
    right: 10px;  
    word-spacing: 8px;
  }
  
  .copy-btn:hover {
    background-color: white;
    color: black;
  }

.float-note{
	position:fixed;
	width:65px;
	height:65px;
	bottom:40px;
	right:40px;
  padding: 4px;
  color: white;
  background-color: #9292926a;
  border: 1px solid #8787879c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.float-note svg{
  margin-top: 9px;
  margin-left: 2px;
}

.float-note:hover{
  border: 1px solid aqua;
}

.float-translate{
	position:fixed;
	width:65px;
	height:65px;
	bottom:145px;
	right:40px;
  padding: 4px;
  color: white;
  background-color: #9292926a;
  border: 1px solid #8787879c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.float-translate i{
  margin-top: 10px;
  margin-left: 1.5px;
  font-size: 45px;
}

.float-translate:hover{
  border: 1px solid aqua;
}

.float-sheet{
  position:fixed;
	width:65px;
	height:65px;
	bottom:254px;
	right:40px;
  padding: 4px;
  color: white;
  background-color: #9292926a;
  border: 1px solid #8787879c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.float-sheet i{
  margin-top: 12px;
  margin-left: 0.8px;
  font-size: 45px;
}

.float-sheet:hover{
  border: 1px solid aqua;
}

.float-photo{
  position:fixed;
	width:65px;
	height:65px;
	bottom:364px;
	right:40px;
  padding: 4px;
  color: white;
  background-color: #9292926a;
  border: 1px solid #8787879c;
	color:#FFF;
	border-radius:50px;
	text-align:center;
}

.float-photo i{
  margin-top: 12px;
  margin-left: 0.8px;
  font-size: 45px;
}

.float-photo:hover{
  border: 1px solid aqua;
}




  #footer {
        display: grid;
        grid-template-columns: 1fr 2fr;
        padding: 0px;
        color: white;
         font-size: 20px;
         border: transparent;
         background-color: transparent;
      }
      
      .credit span{
        color: aqua;
      }

      .version{
        text-align: left;
      }
      
      .credit{
        text-align: right;
      }



  

    
      
     


  
